@font-face {
  font-family: 'Pokemon Solid Pookemon';
  src: url('./assets/fonts/PokemonSolid.ttf');
}

@font-face {
  font-family: 'Pokemon GB Pookemon';
  src: url('./assets/fonts/PokemonGb.ttf');
}

.pookémon {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #346abc;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  transform: scale(0.75);
}

.pookémon .console-container {
  width: 400px;
  padding: 20px 0;
}

.pookémon .pookachu-background-img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 50px;
  z-index: -1;
  width: 300px;
  height: 300px;
}

.pookémon .controls-container {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 0px;
  z-index: -1;
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #d8d4f2;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width: 400px) {
  .pookémon .controls-container {
    width: 300px;
  }
}

.pookémon .controls-container p {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.pookémon .controls-container span {
  font-weight: 700;
  font-size: 20px;
}

.pookémon h4 {
  text-align: center;
  font-size: 24px;
  margin: 0 0 20px 0;
}

.pookémon header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #b9bec5;
  margin-bottom: -1px;
  padding: 20px;
}

.pookémon h1 {
  font-size: 50px;
  font-family: 'Pokemon Solid Pookemon';
  color: #fecd00;
  letter-spacing: 3px;
  -webkit-text-stroke: 2px #346abc;
  margin: 0 0 10px 0;
}

.pookémon h1 span {
  margin-right: -4px;
}

.pookémon h3 {
  font-size: 20px;
  font-family: 'Pokemon GB Pookemon';
  color: black;
  margin: 0;
  padding: 15px;
  animation: fade-in 2s linear both;
}

.pookémon h3 span {
  margin-right: -4px;
}

.pookémon header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.pookémon .game-screen-border {
  width: 325px;
  height: 325px;
  background: #606c79;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.pookémon .game-screen {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #7a866c;
  overflow: hidden;
}

.pookémon .door-intact {
  animation: fade-in 0.5s linear both;
  background-image: url('./dungeon1.png');
}

.pookémon .door-destroyed {
  background-image: url('./dungeon2.png');
  animation: flicker 0.3s linear both;
}

.pookémon .escaped {
  animation: vanish 10s linear both;
}

.pookémon header img {
  position: absolute;
  height: 50px;
  transition: all 2s smooth;
}

.pookémon .overall-buttons-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: #b9bec5;
  height: 300px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px 45px 0 45px;
  grid-template-areas:
    'nav-buttons nav-buttons nav-buttons . b-button'
    'nav-buttons nav-buttons nav-buttons a-button .'
    '. start-and-select-buttons start-and-select-buttons start-and-select-buttons .'
    '. start-and-select-buttons start-and-select-buttons start-and-select-buttons .';
}

.pookémon .start-and-select-buttons-container {
  grid-area: start-and-select-buttons;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: flex-start;
  padding-top: 40px;
  background: yelllow;
}

.pookémon .start-and-select-buttons-container button {
  height: 10px;
  background: #606c79;
  margin: 0;
}

.pookémon .a-button {
  grid-area: a-button;
  position: relative;
}

.pookémon .b-button {
  grid-area: b-button;
  position: relative;
}

.pookémon .a-button span,
.pookémon .b-button span {
  position: absolute;
  bottom: -10px;
  left: 52px;
}

.pookémon .a-button,
.pookémon .b-button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 26px;
  font-weight: 700;
}

.pookémon button {
  box-sizing: border-box;
  border: 0;
  display: flex;
  transition: 0.2s background;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  margin: 0px auto;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background: #762057;
  padding: 10px;
  transition: all 0.1s;
  font-size: 26px !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pookémon button:focus {
  outline: none;
}

.pookémon .start-button,
.pookémon .select-button {
  position: relative;
}

.pookémon .start-button span,
.pookémon .select-button span {
  position: absolute;
  font-size: 18px;
  top: 35px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pookémon .start-button span {
  left: 10px;
}

.pookémon .select-button span {
  left: 5px;
}

.pookémon .start-button img,
.pookémon .select-button img {
  position: absolute;
  width: 30px;
  filter: invert(24%) sepia(10%) saturate(1308%) hue-rotate(172deg)
    brightness(102%) contrast(89%);
}

.pookémon .start-button img {
  left: 65px;
}

.pookémon .select-button img {
  right: 65px;
}

.pookémon button:not(.up) {
  box-shadow: 0px 6px 0px black;
}

.pookémon button:active,
.pookémon button.active {
  position: relative;
  transform: scale(0.98) translateY(5px);
}

.pookémon button:active:not(.up),
.pookémon button.active:not(.up) {
  box-shadow: 0px 2px 0px black;
}

.pookémon button:hover {
  cursor: pointer;
}

.pookémon .navigation-buttons-container {
  grid-area: nav-buttons;
  width: 120px;
  height: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    '. up .'
    'left center-container right'
    '. down .';
}

.pookémon .navigation-buttons-container button {
  width: 100%;
  height: 100%;
  background: #222627;
  border-radius: 0;
  z-index: 1;
}

.pookémon .center-container {
  box-sizing: border-box;
  grid-area: center-container;
  width: 100%;
  height: 100%;
  background: #222627;
  justify-self: center;
  align-self: center;
  outline: 1px solid #222627;
  z-index: 2;
}

.pookémon .navigation-buttons-container button:active,
.pookémon .navigation-buttons-container button.active {
  opacity: 0.9;
}

.pookémon .navigation-buttons-container button.left {
  grid-area: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pookémon .navigation-buttons-container button.left:active,
.pookémon .left.active {
  transform: translateY(1px) translateX(1px);
}

.pookémon .navigation-buttons-container button.right {
  grid-area: right;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pookémon .navigation-buttons-container button.right:active,
.right.active {
  transform: translateY(1px) translateX(-1px);
}

.pookémon .navigation-buttons-container button.up {
  grid-area: up;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.pookémon .navigation-buttons-container button.up:active,
.pookémon .up.active {
  transform: translateY(2px);
}

.pookémon .navigation-buttons-container button.down {
  grid-area: down;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
}

.pookémon .navigation-buttons-container button.down:active,
.pookémon .down.active {
  transform: translateY(2px);
}

.pookémon .navigation-buttons-container button.down:before {
  width: 40px;
  height: 10px;
  background: #222627;
  position: absolute;
  content: '';
  top: -5px;
}

.pookémon .bomb-container {
  background: white;
  width: 60px;
  height: 60px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.pookémon .expand {
  animation: expand 0.1s linear both;
}

.pookémon .explosion {
  animation: explode 0.2s linear both;
  z-index: 10;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes expand {
  0% {
    width: 0%;
    height: 0%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes vanish {
  0% {
    margin-top: 0;
    margin-left: 0;
    height: 50px;
  }
  10% {
    height: 30px;
  }
  100% {
    margin-top: 20px;
    margin-left: 15px;
    height: 0px;
  }
}

@keyframes flicker {
  0% {
    filter: brightness(0.2);
  }
  20% {
    filter: brightness(1);
  }
  40% {
    filter: brightness(0.2);
  }
  60% {
    filter: brightness(1);
  }
  80% {
    filter: brightness(0.2);
  }
  100% {
    filter: brightness(1);
  }
}

@keyframes explode {
  0% {
    width: 100%;
    height: 100%;
    opacity: 1;
    margin-bottom: 0;
    filter: brightness(1);
  }
  10% {
    filter: brightness(2);
  }
  20% {
    filter: brightness(1);
  }
  30% {
    filter: brightness(2);
  }
  40% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(2);
  }
  60% {
    filter: brightness(1);
  }
  70% {
    filter: brightness(2);
  }
  80% {
    filter: brightness(1);
  }
  90% {
    opacity: 1;
    filter: brightness(2);
  }
  100% {
    width: 500%;
    height: 500%;
    opacity: 0;
    margin-bottom: 50px;
    filter: brightness(1);
  }
}
